In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [10]:
df = pd.read_csv('checkins.csv',sep=',')
df = df[:100000]

In [3]:
model = MeanShift(bandwidth=0.1).fit(X=df)

In [11]:
df['clust'] = model.predict(df)
df.head()

    latitude   longitude  clust
0  38.895112  -77.036366      5
1  33.800745  -84.410520      7
2  45.523452 -122.676207     30
3  40.764462 -111.904565     65
4  33.448377 -112.074037      1

In [13]:
df_inner = pd.DataFrame(df.groupby('clust').count()['longitude'])
df_inner.columns = ['count']

In [14]:
df_new = pd.merge(df_inner, df, on='clust',how='right')

In [16]:
df_new = df_new[df_new['count']>15]

In [20]:
clust_centr = df.groupby('clust').mean()
clust_centr[:5]

        latitude   longitude
clust
0      40.718707  -73.992058
1      33.448121 -112.073750
2      33.451231 -111.917520
3      41.878244  -87.629843
4      37.718696 -122.413580

In [19]:
dep = [
    [33.751277, -118.188740], 

    [25.867736, -80.324116], 

    [51.503016, -0.075479], 

    [52.378894, 4.885084], 

    [39.366487, 117.036146], 

    [-33.868457, 151.205134 ]
]
dep = np.array(dep)

In [34]:
dist = np.zeros((clust_centr.shape[0],len(dep)))
i=0
for clust in clust_centr.values:
    dist[i,:] = np.sqrt(np.sum((clust-dep)**2,axis=1))
    i+=1

In [36]:
#список дистанций с номером кластера и номером департамента
list_of_dist = []
for i in range(dist.shape[0]):
    for j in range(dist.shape[1]):
        list_of_dist.append((dist[i][j],i,j))
list_of_dist[:5]

[(44.74250494680408, 0, 0),
 (16.144543658854026, 0, 1),
 (74.69914339841067, 0, 2),
 (79.73433104586398, 0, 3),
 (191.0329902165656, 0, 4)]

In [38]:
list_of_dist.sort()

In [41]:
list_of_dist[:20]

[(0.007834758163107856, 420, 5),
 (0.009353316185992226, 370, 3),
 (0.022674066158364935, 419, 1),
 (0.04871388972267211, 58, 2),
 (0.06383757736583917, 51, 0),
 (0.13594306076707774, 29, 1),
 (0.154102829806012, 2216, 5),
 (0.17295887548920835, 167, 1),
 (0.18505412385311096, 92, 1),
 (0.185096018857158, 2289, 2),
 (0.18802946105577673, 87, 0),
 (0.19222726571703244, 2214, 5),
 (0.2061864032166626, 42, 0),
 (0.21779820862487426, 802, 2),
 (0.22111584180978516, 291, 0),
 (0.2515020867623519, 1003, 3),
 (0.27130075950668003, 320, 1),
 (0.27531985669762415, 2273, 3),
 (0.28239201357411214, 32, 0),
 (0.2897189611721312, 1006, 2)]

In [44]:
clust_centr.loc[420]

latitude     -33.860630
longitude    151.204776
Name: 420, dtype: float64