In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('botswana.tsv', sep = '\t')
df.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [12]:
print(df['religion'].value_counts())

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

In [13]:
len(df.dropna())

1834

In [14]:
df['nevermarr'] = df['agefm'].apply(lambda x: 1 if np.isnan(x) else 0)
df.drop('evermarr',axis = 1, inplace=True)

In [18]:
df['agefm'].fillna(0,inplace = True)
df.loc[(df['nevermarr']==1)&(df['heduc'].isna()),'heduc']= -1

/home/dencerr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
np.sum(df['heduc'].isna())

123

In [26]:
df['heduc_noans'] = df['heduc'].apply(lambda x: 1 if np.isnan(x) else 0)
df['idlnchld_noans'] = df['idlnchld'].apply(lambda x: 1 if np.isnan(x) else 0)
df['usemeth_noans'] = df['usemeth'].apply(lambda x: 1 if np.isnan(x) else 0)
df['heduc'].fillna(-2,inplace = True)
df['idlnchld'].fillna(-1,inplace = True)
df['usemeth'].fillna(-1,inplace = True)

In [ ]:
df.dropna()